.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7e634e;
    position: sticky;
    top: 0; /* Fija el elemento en la parte superior de la pantalla */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    padding: 10px;
    
}
.brand img {
    transition: transform 0.3s ease;
}

.brand:hover img {
    transform: scale(1.2);
}
.lista{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.lista li{
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.lista li:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}



